y.list-group-item{
  cursor: pointer;
}
.input-label{
  background:rgba(0,0,0,0);
  border: none;
  cursor: pointer;
  outline: none;
}
.input-label-underline{
  position: absolute;
  left: 17.5%;
  top: 90%;
  width: 0%;
  height: 1px;
  background-color: #000;
}
.input-label:focus ~ .input-label-underline{
  width: 50%;
  height: 1px;
  transition: .2s ease-in-out;
}
.input-label:not(:focus) ~ .input-label-underline{
  width: 0%;
  transition: .25s;
}
.input-label-lg{
  background:rgba(0,0,0,0);
  border: none;
  cursor: pointer;
}
